#projects {
  width: 100vw;
  max-width: 70vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}

.bankBuddyHome {
  max-width: 70vw;
  border-radius: 2rem;
}

.carousel-item {
  text-align: center;
}

