#intro {
  height: calc(100vh - 9rem); /*desired heght minus height of navbar*/
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.selfImage {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
  max-height: 20rem;
}

.introContent {
  height: 50vh;
  width: 100vw;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.hello {
  font-weight: 100;
  font-size: 1.75rem;
}

.introName {
  color: gold;
}

.description {
  font-weight: 100;
  font-size: 0.95rem;
  padding: 0.5rem 0 0 0;
  letter-spacing: 1px;
}

.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 9rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.btn:active{
    background: gold;
}

.info {
  margin: 0 0.5rem 0 0;
}

@media screen and (max-width:650px) { /* image dissapears when screen width is < 650px*/
    .selfImage {
        visibility: hidden;
    }
}